.inputs{
    display: flex;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}
.resultado{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(80, 105, 32);
    margin-left: 30%;
    margin-right: 30%;
    font-size: 30px;
}

.operações{
    display: flex;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30px;
}

#Limpar{
    position: absolute;
    margin-top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}