<div class="container">

    <form>
        <div class="Calculadora">
            <h1>Calculadora</h1>
        </div>
        <div class="inputs">

            <input type="number" [(ngModel)] ="num1" name="num1">
            <input type="number" [(ngModel)] ="num2" name="num2">

        </div>
        
        <br>

        <section class="operações">
            
            <button (click)="onClickSum()">Somar</button>
            <button (click)="onClickSub()">Subtração</button>
            <button (click)="onClickMulti()">Multiplica</button>
            <button (click)="onClickDiv()">Divide</button>
            <button (click)="onClickPot()">Potenciação</button>
            <button (click)="onClickCento()">Porcentagem</button>
        
        </section>

        <div class="resultado">Resultado = {{sum}} <span *ngIf="percentage">%</span></div>

        <div id="Limpar"><button (click)="onClickLimpar()">Limpar Operação</button></div>
        
    </form>

</div>